#cloud-config
dsmode: local
network-interfaces: |
  auto eth0
  iface eth0 inet static
  address ${address}
  network 10.0.0.0
  netmask 255.255.255.0
  broadcast 10.0.0.255
  gateway 10.0.0.1
local-hostname: ${hostname}

